#myId {
  color: green;
  background: pink; }

body, a {
  background: purple;
  color: white;
  font-style: italic;
  padding: 35px; }

.my-class {
  color: black;
  background: pink; }
  .my-class.change-color {
    color: blue; }
