/*
    Created on : 28-jun-2016, 10:23:13
    Author     : fjfernandez
*/
.class1 {
  background-color: #2d5e8b;
}
.class1 .class2 {
  background-color: white;
  color: #2d5e8b;
}

/*
    Created on : 28-jun-2016, 10:25:34
    Author     : fjfernandez
*/
nav {
  height: 40px;
  width: 100%;
  background: #455868;
  border-bottom: 2px solid #283744;
}
nav li {
  width: 500px;
  height: 40px;
}
nav li a {
  color: #fff;
  line-height: 40px;
  text-shadow: 1px 1px 0px #283744;
}
